@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
p{
    color:#888888;
    margin-bottom: 30px;
}
section{
    height: 800px;
}
img{
    width: 100%;
}
.top-area h1{
    margin-top: -23px;
}
.top-area h3{
    font-size: 30px;
    margin-top: 205px;
}
.top-area{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 800px;
}
.bio-area{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 800px;
}
.half-width{
    width: 40%;
    float: left;
    height: 500px;
    
}
.top-area h1{
    color:#EC4C7A;
    font-size: 50px;
}
#top-text{
    margin-left: 35%;
    margin-top: 25%;
}
.btn{
text-decoration: none;
background-color: #EC4C7A;
padding: 10px 20px;
color: white;
border-radius: 5px;
background-image: linear-gradient(45deg,#EC5299,#ED4B6F);

}
.work-area{
    padding: 50px 70px;
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 800px;
}
.img-work{
    width: 30%;
    float: left;
    margin-right: 3%;
}
.work-area h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 75px;
}
a{
    text-decoration: none;
}
.client-area{
    text-align: center;
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 800px;
}
.btn-lg,.btn-lg p{
    width: 30%;
    margin-left:33%;
    color: white;
}
.client-area h1{
    font-size: 50px;
    margin-bottom: 100px;
}
#spclp{
    margin-top: 80px;
    margin-bottom: 80px;
    color: #000;
}
.box{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 50%;
    background-color: #fff;
    margin-left: 5%;
    padding: 2%;

}
.ex-area{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
    padding-top: 2%;
}
.ex-area h2{
    font-size: 50px;
    margin-bottom: 20px;
}
#ex-one{
border-left: 7px solid;
border-image: linear-gradient(#EC5299,#ED4B6F);
border-image-slice: 1;
}
#ex-two{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
.h3-highlight{
    color:#ED4B6F;
}
footer{
    text-align: center;
}